/* styles.css */

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* ! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.mx-48 {
  margin-left: 12rem;
  margin-right: 12rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.min-h-screen {
  min-height: 100vh;
}

.w-3\/4 {
  width: 75%;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.rounded-full {
  border-radius: 9999px;
}

.bg-mamba {
  --tw-bg-opacity: 1;
  background-color: rgb(32 33 36 / var(--tw-bg-opacity));
}

.bg-useless-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(59 68 85 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.text-center {
  text-align: center;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-primary-color {
  --tw-text-opacity: 1;
  color: rgb(146 180 243 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@font-face {
  font-family: 'FML-Akhila-Bold';

  src: url('./fonts/fml-fonts/FML-Akhila-Bold.otf')  format('opentype');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: 'FML-Indulekha-BoldItalic';

  src: url('./fonts/fml-fonts/FML-Indulekha-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Mohini-Bold';

  src: url('./fonts/fml-fonts/FML-Mohini-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Mohini-BoldItalic';

  src: url('./fonts/fml-fonts/FML-Mohini-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Mohini-Italic';

  src: url('./fonts/fml-fonts/FML-Mohini-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Mohini';

  src: url('./fonts/fml-fonts/FML-Mohini.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Nanditha-Bold';

  src: url('./fonts/fml-fonts/FML-Nanditha-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Nanditha-BoldItalic';

  src: url('./fonts/fml-fonts/FML-Nanditha-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Nanditha-Italic';

  src: url('./fonts/fml-fonts/FML-Nanditha-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Nanditha';

  src: url('./fonts/fml-fonts/FML-Nanditha.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Padmanabha-Bold';

  src: url('./fonts/fml-fonts/FML-Padmanabha-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Padmanabha-BoldItalic';

  src: url('./fonts/fml-fonts/FML-Padmanabha-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Sruthy-Bold';

  src: url('./fonts/fml-fonts/FML-Sruthy-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Sruthy-BoldItalic';

  src: url('./fonts/fml-fonts/FML-Sruthy-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Sruthy-Italic';

  src: url('./fonts/fml-fonts/FML-Sruthy-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'FML-Sruthy';

  src: url('./fonts/fml-fonts/FML-Sruthy.otf') format('opentype');
}

@font-face {
  font-family: 'FMLAA0BTT';

  src: url('./fonts/fml-fonts/FMLAA0BTT.ttf') format('opentype');
}

@font-face {
  font-family: 'FMLAA0ITT';

  src: url('./fonts/fml-fonts/FMLAA0ITT.ttf') format('opentype');
}

@font-face {
  font-family: 'FMLAA0NTT';

  src: url('./fonts/fml-fonts/FMLAA0NTT.ttf') format('opentype');
}

@font-face {
  font-family: 'FMLAA0XTT';

  src: url('./fonts/fml-fonts/FMLAA0XTT.ttf') format('opentype');
}

@font-face {
  font-family: 'FMLAH0BTT';

  src: url(
            './fonts/fml-fonts/FMLAH0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAH0ITT';

  src: url(
            './fonts/fml-fonts/FMLAH0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAH0NTT';

  src: url(
            './fonts/fml-fonts/FMLAH0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAH0XTT';

  src: url(
            './fonts/fml-fonts/FMLAH0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAI0ITT';

  src: url(
            './fonts/fml-fonts/FMLAI0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAI0NTT';

  src: url(
            './fonts/fml-fonts/FMLAI0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAJ0BTT';

  src: url(
            './fonts/fml-fonts/FMLAJ0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAJ0XTT';

  src: url(
            './fonts/fml-fonts/FMLAJ0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAL0ITT';

  src: url(
            './fonts/fml-fonts/FMLAL0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAL0NTT';

  src: url(
            './fonts/fml-fonts/FMLAL0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAM0BTT';

  src: url(
            './fonts/fml-fonts/FMLAM0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAM0ITT';

  src: url(
            './fonts/fml-fonts/FMLAM0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAM0NTT';

  src: url(
            './fonts/fml-fonts/FMLAM0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAM0XTT';

  src: url(
            './fonts/fml-fonts/FMLAM0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAN0BTT';

  src: url(
            './fonts/fml-fonts/FMLAN0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAN0XTT';

  src: url(
            './fonts/fml-fonts/FMLAN0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAP0XTT';

  src: url(
            './fonts/fml-fonts/FMLAP0XTT.ttf'
        )
        format('opentype');
}

/* url(fonts/fml-fonts/FMLAS0BTT.ttf) url(fonts/fml-fonts/FMLAS0ITT.ttf) url(fonts/fml-fonts/FMLAS0NTT.ttf) url(fonts/fml-fonts/FMLAS0XTT.ttf) url(fonts/fml-fonts/FMLAT0BTT.ttf) url(fonts/fml-fonts/FMLAT0ITT.ttf) url(fonts/fml-fonts/FMLAT0NTT.ttf) url(fonts/fml-fonts/FMLAT0XTT.ttf) url(fonts/fml-fonts/FMLBH0BTT.ttf) */

@font-face {
  font-family: 'FMLAS0BTT';

  src: url(
            './fonts/fml-fonts/FMLAS0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAS0ITT';

  src: url(
            './fonts/fml-fonts/FMLAS0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAS0NTT';

  src: url(
            './fonts/fml-fonts/FMLAS0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAS0XTT';

  src: url(
            './fonts/fml-fonts/FMLAS0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAT0BTT';

  src: url(
            './fonts/fml-fonts/FMLAT0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAT0ITT';

  src: url(
            './fonts/fml-fonts/FMLAT0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAT0NTT';

  src: url(
            './fonts/fml-fonts/FMLAT0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLAT0XTT';

  src: url(
            './fonts/fml-fonts/FMLAT0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLBH0BTT';

  src: url(
            './fonts/fml-fonts/FMLBH0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLBH0ITT';

  src: url(
            './fonts/fml-fonts/FMLBH0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLBH0NTT';

  src: url(
            './fonts/fml-fonts/FMLBH0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLBH0XTT';

  src: url(
            './fonts/fml-fonts/FMLBH0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLBK0ITT';

  src: url(
            './fonts/fml-fonts/FMLBK0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLBK0NTT';

  src: url(
            './fonts/fml-fonts/FMLBK0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCH0BTT';

  src: url(
            './fonts/fml-fonts/FMLCH0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCH0NTT';

  src: url(
            './fonts/fml-fonts/FMLCH0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCI0BTT';

  src: url(
            './fonts/fml-fonts/FMLCI0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCI0XTT';

  src: url(
            './fonts/fml-fonts/FMLCI0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCN0BTT';

  src: url(
            './fonts/fml-fonts/FMLCN0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCN0ITT';

  src: url(
            './fonts/fml-fonts/FMLCN0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCN0NTT';

  src: url(
            './fonts/fml-fonts/FMLCN0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLCN0XTT';

  src: url(
            './fonts/fml-fonts/FMLCN0XTT.ttf'
        )
        format('opentype');
}

/* fonts/fml-fonts/FMLDV0XTT.ttf
fonts/fml-fonts/FMLGE0BTT.ttf
fonts/fml-fonts/FMLGE0XTT.ttf
fonts/fml-fonts/FMLGI0ITT.ttf
fonts/fml-fonts/FMLGI0NTT.ttf
fonts/fml-fonts/FMLGP0BTT.ttf
fonts/fml-fonts/FMLGP0ITT.ttf
fonts/fml-fonts/FMLGP0NTT.ttf
fonts/fml-fonts/FMLGP0XTT.ttf
fonts/fml-fonts/FMLGR0BTT.ttf
fonts/fml-fonts/FMLGR0XTT.ttf
fonts/fml-fonts/FMLGU0BTT.ttf
fonts/fml-fonts/FMLGU0XTT.ttf */

@font-face {
  font-family: 'FMLDV0XTT';

  src: url(
            './fonts/fml-fonts/FMLDV0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGE0BTT';

  src: url(
            './fonts/fml-fonts/FMLGE0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGE0XTT';

  src: url(
            './fonts/fml-fonts/FMLGE0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGI0ITT';

  src: url(
            './fonts/fml-fonts/FMLGI0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGI0NTT';

  src: url(
            './fonts/fml-fonts/FMLGI0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGP0BTT';

  src: url(
            './fonts/fml-fonts/FMLGP0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGP0ITT';

  src: url(
            './fonts/fml-fonts/FMLGP0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGP0NTT';

  src: url(
            './fonts/fml-fonts/FMLGP0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGP0XTT';

  src: url(
            './fonts/fml-fonts/FMLGP0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGR0BTT';

  src: url(
            './fonts/fml-fonts/FMLGR0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGR0XTT';

  src: url(
            './fonts/fml-fonts/FMLGR0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGU0BTT';

  src: url(
            './fonts/fml-fonts/FMLGU0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLGU0XTT';

  src: url(
            './fonts/fml-fonts/FMLGU0XTT.ttf'
        )
        format('opentype');
}

/* 
fonts/fml-fonts/FMLIH0BPS.otf
fonts/fml-fonts/FMLIH0BTT.ttf
fonts/fml-fonts/FMLIH0XPS.otf
fonts/fml-fonts/FMLIH0XTT.ttf
fonts/fml-fonts/FMLIN0BPS.otf
fonts/fml-fonts/FMLIN0BTT.ttf
fonts/fml-fonts/FMLIN0IPS.otf
fonts/fml-fonts/FMLIN0ITT.ttf
fonts/fml-fonts/FMLIN0NPS.otf
fonts/fml-fonts/FMLIN0NTT.ttf
fonts/fml-fonts/FMLIN0XTT.ttf
fonts/fml-fonts/FMLJA0ITT.ttf
fonts/fml-fonts/FMLJA0NTT.ttf
fonts/fml-fonts/FMLJA0XTT.ttf
fonts/fml-fonts/FMLJS0XTT.ttf
fonts/fml-fonts/FMLJY0BTT.ttf
fonts/fml-fonts/FMLJY0ITT.ttf
fonts/fml-fonts/FMLJY0NTT.ttf
fonts/fml-fonts/FMLJY0XTT.ttf
fonts/fml-fonts/FMLKA0BTT.ttf
fonts/fml-fonts/FMLKA0ITT.ttf
fonts/fml-fonts/FMLKA0NTT.ttf
fonts/fml-fonts/FMLKA0XTT.ttf
fonts/fml-fonts/FMLKL0BTT.ttf
fonts/fml-fonts/FMLKL0XTT.ttf
fonts/fml-fonts/FMLKM0BTT.ttf
fonts/fml-fonts/FMLKM0ITT.ttf
fonts/fml-fonts/FMLKM0NTT.ttf
fonts/fml-fonts/FMLKM0XTT.ttf
fonts/fml-fonts/FMLKN0NTT.ttf
fonts/fml-fonts/FMLKR0BPS.otf
fonts/fml-fonts/FMLKR0BTT.ttf
fonts/fml-fonts/FMLKR0IPS.otf
fonts/fml-fonts/FMLKR0ITT.ttf
fonts/fml-fonts/FMLKR0NPS.otf
fonts/fml-fonts/FMLKR0NTT.ttf
fonts/fml-fonts/FMLKR0XPS.otf
fonts/fml-fonts/FMLKR0XTT.ttf
fonts/fml-fonts/FMLKY0BTT.ttf
fonts/fml-fonts/FMLKY0XTT.ttf
fonts/fml-fonts/FMLLI0IPS.otf
fonts/fml-fonts/FMLLI0ITT.ttf
fonts/fml-fonts/FMLLI0NPS.otf
fonts/fml-fonts/FMLLI0NTT.ttf
fonts/fml-fonts/FMLLL0BPS.otf
fonts/fml-fonts/FMLLL0BTT.ttf
fonts/fml-fonts/FMLLL0IPS.otf
fonts/fml-fonts/FMLLL0ITT.ttf
fonts/fml-fonts/FMLLL0NPS.otf
fonts/fml-fonts/FMLLL0NTT.ttf
fonts/fml-fonts/FMLLL0XPS.otf
fonts/fml-fonts/FMLLL0XTT.ttf
fonts/fml-fonts/FMLML0BTT.ttf
fonts/fml-fonts/FMLML0ITT.ttf
fonts/fml-fonts/FMLML0NTT.ttf
fonts/fml-fonts/FMLML0XTT.ttf
fonts/fml-fonts/FMLMN0ITT.ttf
fonts/fml-fonts/FMLMN0NTT.ttf
fonts/fml-fonts/FMLMV0ITT.ttf
fonts/fml-fonts/FMLMV0NTT.ttf
fonts/fml-fonts/FMLMY0BTT.ttf
fonts/fml-fonts/FMLMY0XTT.ttf
fonts/fml-fonts/FMLNA0BTT.ttf
fonts/fml-fonts/FMLNA0ITT.ttf
fonts/fml-fonts/FMLNA0NTT.ttf
fonts/fml-fonts/FMLNA0XTT.ttf
fonts/fml-fonts/FMLND0BTT.ttf
fonts/fml-fonts/FMLND0ITT.ttf
fonts/fml-fonts/FMLND0NTT.ttf
fonts/fml-fonts/FMLND0XTT.ttf
fonts/fml-fonts/FMLNL0BTT.ttf
fonts/fml-fonts/FMLNL0XTT.ttf
fonts/fml-fonts/FMLNN0BTT.ttf
fonts/fml-fonts/FMLNN0ITT.ttf
fonts/fml-fonts/FMLNN0NTT.ttf
fonts/fml-fonts/FMLNN0XTT.ttf
fonts/fml-fonts/FMLNR0ITT.ttf
fonts/fml-fonts/FMLNR0NTT.ttf
fonts/fml-fonts/FMLON0BTT.ttf
fonts/fml-fonts/FMLON0XTT.ttf
fonts/fml-fonts/FMLPA0BTT.ttf
fonts/fml-fonts/FMLPA0ITT.ttf
fonts/fml-fonts/FMLPA0NTT.ttf
fonts/fml-fonts/FMLPA0XTT.ttf
fonts/fml-fonts/FMLPR0BTT.ttf
fonts/fml-fonts/FMLPR0NTT.ttf
fonts/fml-fonts/FMLPY0BTT.ttf
fonts/fml-fonts/FMLPY0ITT.ttf
fonts/fml-fonts/FMLPY0NTT.ttf
fonts/fml-fonts/FMLPY0XTT.ttf
fonts/fml-fonts/FMLRA0BTT.ttf
fonts/fml-fonts/FMLRA0ITT.ttf
fonts/fml-fonts/FMLRA0NTT.ttf
fonts/fml-fonts/FMLRA0XTT.ttf
fonts/fml-fonts/FMLRH0BPS.ttf
fonts/fml-fonts/FMLRH0XPS.ttf
fonts/fml-fonts/FMLRV0BPS.otf
fonts/fml-fonts/FMLRV0BTT.ttf
fonts/fml-fonts/FMLRV0IPS.otf
fonts/fml-fonts/FMLRV0ITT.ttf
fonts/fml-fonts/FMLRV0NPS.otf
fonts/fml-fonts/FMLRV0NTT.ttf
fonts/fml-fonts/FMLRV0XPS.otf
fonts/fml-fonts/FMLRV0XTT.ttf
fonts/fml-fonts/FMLSA0BTT.ttf
fonts/fml-fonts/FMLSA0XTT.ttf
fonts/fml-fonts/FMLSD0BTT.ttf
fonts/fml-fonts/FMLSG0BTT.ttf
fonts/fml-fonts/FMLSG0XTT.ttf
fonts/fml-fonts/FMLSN0BTT.ttf
fonts/fml-fonts/FMLSN0XTT.ttf
fonts/fml-fonts/FMLSP0BTT.ttf
fonts/fml-fonts/FMLSP0XTT.ttf
fonts/fml-fonts/FMLSR0BTT.ttf
fonts/fml-fonts/FMLSR0NTT.ttf
fonts/fml-fonts/FMLSU0BTT.ttf
fonts/fml-fonts/FMLSU0ITT.ttf
fonts/fml-fonts/FMLSU0NTT.ttf
fonts/fml-fonts/FMLSU0XTT.ttf
fonts/fml-fonts/FMLSW0ITT.ttf
fonts/fml-fonts/FMLTE0BTT.ttf
fonts/fml-fonts/FMLTE0ITT.ttf
fonts/fml-fonts/FMLTE0NTT.ttf
fonts/fml-fonts/FMLTE0XTT.ttf
fonts/fml-fonts/FMLTH0BTT.ttf
fonts/fml-fonts/FMLTH0ITT.ttf
fonts/fml-fonts/FMLTH0NTT.ttf
fonts/fml-fonts/FMLTH0XTT.ttf
fonts/fml-fonts/FMLTK0BTT.ttf
fonts/fml-fonts/FMLTU0BTT.ttf
fonts/fml-fonts/FMLTU0ITT.ttf
fonts/fml-fonts/FMLTU0NTT.ttf
fonts/fml-fonts/FMLTU0XTT.ttf
fonts/fml-fonts/FMLVA0BTT.ttf
fonts/fml-fonts/FMLVA0XTT.ttf
fonts/fml-fonts/FMLVE0ITT.ttf
fonts/fml-fonts/FMLVE0NTT.ttf
fonts/fml-fonts/FMLVH0BTT.ttf
fonts/fml-fonts/FMLVH0ITT.ttf
fonts/fml-fonts/FMLVH0NTT.ttf
fonts/fml-fonts/FMLVH0XTT.ttf
fonts/fml-fonts/FMLVN0BTT.ttf
fonts/fml-fonts/FMLVN0NTT.ttf
fonts/fml-fonts/FMLVR0BTT.ttf
fonts/fml-fonts/FMLVR0ITT.ttf
fonts/fml-fonts/FMLVR0XTT.ttf
fonts/fml-fonts/FMLVS0BTT.ttf
fonts/fml-fonts/FMLVS0ITT.ttf
fonts/fml-fonts/FMLVS0NTT.ttf
fonts/fml-fonts/FMLVS0XTT.ttf
fonts/fml-fonts/FMLYS0BTT.ttf
fonts/fml-fonts/FMLYS0XTT.ttf
*/

@font-face {
  font-family: 'FMLIH0BPS';

  src: url(
            './fonts/fml-fonts/FMLIH0BPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIH0BTT';

  src: url(
            './fonts/fml-fonts/FMLIH0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIH0XPS';

  src: url(
            './fonts/fml-fonts/FMLIH0XPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIH0XTT';

  src: url(
            './fonts/fml-fonts/FMLIH0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIN0BPS';

  src: url(
            './fonts/fml-fonts/FMLIN0BPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIN0BTT';

  src: url(
            './fonts/fml-fonts/FMLIN0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIN0IPS';

  src: url(
            './fonts/fml-fonts/FMLIN0IPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIN0ITT';

  src: url(
            './fonts/fml-fonts/FMLIN0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIN0NPS';

  src: url(
            './fonts/fml-fonts/FMLIN0NPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIN0NTT';

  src: url(
            './fonts/fml-fonts/FMLIN0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLIN0XTT';

  src: url(
            './fonts/fml-fonts/FMLIN0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJA0ITT';

  src: url(
            './fonts/fml-fonts/FMLJA0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJA0NTT';

  src: url(
            './fonts/fml-fonts/FMLJA0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJA0XTT';

  src: url(
            './fonts/fml-fonts/FMLJA0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJS0XTT';

  src: url(
            './fonts/fml-fonts/FMLJS0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJY0BTT';

  src: url(
            './fonts/fml-fonts/FMLJY0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJY0ITT';

  src: url(
            './fonts/fml-fonts/FMLJY0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJY0NTT';

  src: url(
            './fonts/fml-fonts/FMLJY0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLJY0XTT';

  src: url(
            './fonts/fml-fonts/FMLJY0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKA0BTT';

  src: url(
            './fonts/fml-fonts/FMLKA0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKA0ITT';

  src: url(
            './fonts/fml-fonts/FMLKA0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKA0NTT';

  src: url(
            './fonts/fml-fonts/FMLKA0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKA0XTT';

  src: url(
            './fonts/fml-fonts/FMLKA0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKL0BTT';

  src: url(
            './fonts/fml-fonts/FMLKL0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKL0XTT';

  src: url(
            './fonts/fml-fonts/FMLKL0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKM0BTT';

  src: url(
            './fonts/fml-fonts/FMLKM0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKM0ITT';

  src: url(
            './fonts/fml-fonts/FMLKM0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKM0NTT';

  src: url(
            './fonts/fml-fonts/FMLKM0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKM0XTT';

  src: url(
            './fonts/fml-fonts/FMLKM0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKN0NTT';

  src: url(
            './fonts/fml-fonts/FMLKN0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0BPS';

  src: url(
            './fonts/fml-fonts/FMLKR0BPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0BTT';

  src: url(
            './fonts/fml-fonts/FMLKR0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0IPS';

  src: url(
            './fonts/fml-fonts/FMLKR0IPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0ITT';

  src: url(
            './fonts/fml-fonts/FMLKR0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0NPS';

  src: url(
            './fonts/fml-fonts/FMLKR0NPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0NTT';

  src: url(
            './fonts/fml-fonts/FMLKR0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0XPS';

  src: url(
            './fonts/fml-fonts/FMLKR0XPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKR0XTT';

  src: url(
            './fonts/fml-fonts/FMLKR0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKY0BTT';

  src: url(
            './fonts/fml-fonts/FMLKY0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLKY0XTT';

  src: url(
            './fonts/fml-fonts/FMLKY0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLI0IPS';

  src: url(
            './fonts/fml-fonts/FMLLI0IPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLI0ITT';

  src: url(
            './fonts/fml-fonts/FMLLI0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLI0NPS';

  src: url(
            './fonts/fml-fonts/FMLLI0NPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLI0NTT';

  src: url(
            './fonts/fml-fonts/FMLLI0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0BPS';

  src: url(
            './fonts/fml-fonts/FMLLL0BPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0BTT';

  src: url(
            './fonts/fml-fonts/FMLLL0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0IPS';

  src: url(
            './fonts/fml-fonts/FMLLL0IPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0ITT';

  src: url(
            './fonts/fml-fonts/FMLLL0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0NPS';

  src: url(
            './fonts/fml-fonts/FMLLL0NPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0NTT';

  src: url(
            './fonts/fml-fonts/FMLLL0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0XPS';

  src: url(
            './fonts/fml-fonts/FMLLL0XPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLLL0XTT';

  src: url(
            './fonts/fml-fonts/FMLLL0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLML0BTT';

  src: url(
            './fonts/fml-fonts/FMLML0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLML0ITT';

  src: url(
            './fonts/fml-fonts/FMLML0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLML0NTT';

  src: url(
            './fonts/fml-fonts/FMLML0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLML0XTT';

  src: url(
            './fonts/fml-fonts/FMLML0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLMN0ITT';

  src: url(
            './fonts/fml-fonts/FMLMN0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLMN0NTT';

  src: url(
            './fonts/fml-fonts/FMLMN0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLMV0ITT';

  src: url(
            './fonts/fml-fonts/FMLMV0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLMV0NTT';

  src: url(
            './fonts/fml-fonts/FMLMV0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLMY0BTT';

  src: url(
            './fonts/fml-fonts/FMLMY0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLMY0XTT';

  src: url(
            './fonts/fml-fonts/FMLMY0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNA0BTT';

  src: url(
            './fonts/fml-fonts/FMLNA0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNA0ITT';

  src: url(
            './fonts/fml-fonts/FMLNA0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNA0NTT';

  src: url(
            './fonts/fml-fonts/FMLNA0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNA0XTT';

  src: url(
            './fonts/fml-fonts/FMLNA0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLND0BTT';

  src: url(
            './fonts/fml-fonts/FMLND0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLND0ITT';

  src: url(
            './fonts/fml-fonts/FMLND0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLND0NTT';

  src: url(
            './fonts/fml-fonts/FMLND0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLND0XTT';

  src: url(
            './fonts/fml-fonts/FMLND0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNL0BTT';

  src: url(
            './fonts/fml-fonts/FMLNL0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNL0XTT';

  src: url(
            './fonts/fml-fonts/FMLNL0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNN0BTT';

  src: url(
            './fonts/fml-fonts/FMLNN0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNN0ITT';

  src: url(
            './fonts/fml-fonts/FMLNN0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNN0NTT';

  src: url(
            './fonts/fml-fonts/FMLNN0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNN0XTT';

  src: url(
            './fonts/fml-fonts/FMLNN0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNR0ITT';

  src: url(
            './fonts/fml-fonts/FMLNR0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLNR0NTT';

  src: url(
            './fonts/fml-fonts/FMLNR0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLON0BTT';

  src: url(
            './fonts/fml-fonts/FMLON0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLON0XTT';

  src: url(
            './fonts/fml-fonts/FMLON0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPA0BTT';

  src: url(
            './fonts/fml-fonts/FMLPA0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPA0ITT';

  src: url(
            './fonts/fml-fonts/FMLPA0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPA0NTT';

  src: url(
            './fonts/fml-fonts/FMLPA0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPA0XTT';

  src: url(
            './fonts/fml-fonts/FMLPA0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPR0BTT';

  src: url(
            './fonts/fml-fonts/FMLPR0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPR0NTT';

  src: url(
            './fonts/fml-fonts/FMLPR0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPY0BTT';

  src: url(
            './fonts/fml-fonts/FMLPY0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPY0ITT';

  src: url(
            './fonts/fml-fonts/FMLPY0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPY0NTT';

  src: url(
            './fonts/fml-fonts/FMLPY0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLPY0XTT';

  src: url(
            './fonts/fml-fonts/FMLPY0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRA0BTT';

  src: url(
            './fonts/fml-fonts/FMLRA0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRA0ITT';

  src: url(
            './fonts/fml-fonts/FMLRA0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRA0NTT';

  src: url(
            './fonts/fml-fonts/FMLRA0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRA0XTT';

  src: url(
            './fonts/fml-fonts/FMLRA0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRH0BPS';

  src: url(
            './fonts/fml-fonts/FMLRH0BPS.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRH0XPS';

  src: url(
            './fonts/fml-fonts/FMLRH0XPS.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0BPS';

  src: url(
            './fonts/fml-fonts/FMLRV0BPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0BTT';

  src: url(
            './fonts/fml-fonts/FMLRV0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0IPS';

  src: url(
            './fonts/fml-fonts/FMLRV0IPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0ITT';

  src: url(
            './fonts/fml-fonts/FMLRV0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0NPS';

  src: url(
            './fonts/fml-fonts/FMLRV0NPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0NTT';

  src: url(
            './fonts/fml-fonts/FMLRV0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0XPS';

  src: url(
            './fonts/fml-fonts/FMLRV0XPS.otf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLRV0XTT';

  src: url(
            './fonts/fml-fonts/FMLRV0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSA0BTT';

  src: url(
            './fonts/fml-fonts/FMLSA0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSA0XTT';

  src: url(
            './fonts/fml-fonts/FMLSA0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSD0BTT';

  src: url(
            './fonts/fml-fonts/FMLSD0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSG0BTT';

  src: url(
            './fonts/fml-fonts/FMLSG0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSG0XTT';

  src: url(
            './fonts/fml-fonts/FMLSG0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSN0BTT';

  src: url(
            './fonts/fml-fonts/FMLSN0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSN0XTT';

  src: url(
            './fonts/fml-fonts/FMLSN0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSP0BTT';

  src: url(
            './fonts/fml-fonts/FMLSP0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSP0XTT';

  src: url(
            './fonts/fml-fonts/FMLSP0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSR0BTT';

  src: url(
            './fonts/fml-fonts/FMLSR0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSR0NTT';

  src: url(
            './fonts/fml-fonts/FMLSR0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSU0BTT';

  src: url(
            './fonts/fml-fonts/FMLSU0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSU0ITT';

  src: url(
            './fonts/fml-fonts/FMLSU0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSU0NTT';

  src: url(
            './fonts/fml-fonts/FMLSU0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSU0XTT';

  src: url(
            './fonts/fml-fonts/FMLSU0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSU0XTT';

  src: url(
            './fonts/fml-fonts/FMLSU0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLSW0ITT';

  src: url(
            './fonts/fml-fonts/FMLSW0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTE0BTT';

  src: url(
            './fonts/fml-fonts/FMLTE0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTE0ITT';

  src: url(
            './fonts/fml-fonts/FMLTE0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTE0NTT';

  src: url(
            './fonts/fml-fonts/FMLTE0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTE0XTT';

  src: url(
            './fonts/fml-fonts/FMLTE0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTH0BTT';

  src: url(
            './fonts/fml-fonts/FMLTH0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTH0ITT';

  src: url(
            './fonts/fml-fonts/FMLTH0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTH0NTT';

  src: url(
            './fonts/fml-fonts/FMLTH0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTH0XTT';

  src: url(
            './fonts/fml-fonts/FMLTH0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTK0BTT';

  src: url(
            './fonts/fml-fonts/FMLTK0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTU0BTT';

  src: url(
            './fonts/fml-fonts/FMLTU0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTU0ITT';

  src: url(
            './fonts/fml-fonts/FMLTU0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTU0NTT';

  src: url(
            './fonts/fml-fonts/FMLTU0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLTU0XTT';

  src: url(
            './fonts/fml-fonts/FMLTU0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVA0BTT';

  src: url(
            './fonts/fml-fonts/FMLVA0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVA0XTT';

  src: url(
            './fonts/fml-fonts/FMLVA0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVE0ITT';

  src: url(
            './fonts/fml-fonts/FMLVE0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVE0NTT';

  src: url(
            './fonts/fml-fonts/FMLVE0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVH0BTT';

  src: url(
            './fonts/fml-fonts/FMLVH0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVH0ITT';

  src: url(
            './fonts/fml-fonts/FMLVH0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVH0NTT';

  src: url(
            './fonts/fml-fonts/FMLVH0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVH0XTT';

  src: url(
            './fonts/fml-fonts/FMLVH0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVN0BTT';

  src: url(
            './fonts/fml-fonts/FMLVN0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVN0NTT';

  src: url(
            './fonts/fml-fonts/FMLVN0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVR0BTT';

  src: url(
            './fonts/fml-fonts/FMLVR0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVR0ITT';

  src: url(
            './fonts/fml-fonts/FMLVR0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVR0XTT';

  src: url(
            './fonts/fml-fonts/FMLVR0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVS0BTT';

  src: url(
            './fonts/fml-fonts/FMLVS0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVS0ITT';

  src: url(
            './fonts/fml-fonts/FMLVS0ITT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVS0NTT';

  src: url(
            './fonts/fml-fonts/FMLVS0NTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLVS0XTT';

  src: url(
            './fonts/fml-fonts/FMLVS0XTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLYS0BTT';

  src: url(
            './fonts/fml-fonts/FMLYS0BTT.ttf'
        )
        format('opentype');
}

@font-face {
  font-family: 'FMLYS0XTT';

  src: url(
            './fonts/fml-fonts/FMLYS0XTT.ttf'
        )
        format('opentype');
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
